.color {
  width: 15%;
  margin: 5px;
  border-radius: 3px;
}

.color:hover {
  border: 1px solid cyan;
}

.lonestar {
  color: #600;
  background-color: #600;
}

.red-berry {
  color: #900;
  background-color: #900;
}

.guardsman-red {
  color: #c00;
  background-color: #c00;
}

.persian-red {
  color: #c33;
  background-color: #c33;
}

.french-rose {
  color: #ea4c88;
  background-color: #ea4c88;
}

.plum {
  color: #939;
  background-color: #939;
}

.royal-purple {
  color: #639;
  background-color: #639;
}

.sapphire {
  color: #339;
  background-color: #339;
}

.science-blue {
  color: #06c;
  background-color: #06c;
}

.pacific-blue {
  color: #09c;
  background-color: #09c;
}

.downy {
  color: #6cc;
  background-color: #6cc;
}

.atlantis {
  color: #7c3;
  background-color: #7c3;
}

.limeade {
  color: #690;
  background-color: #690;
}

.verdun-green {
  color: #360;
  background-color: #360;
}

.lite-verdun-green {
  color: #660;
  background-color: #660;
}

.olive {
  color: #990;
  background-color: #990;
}

.earls-green {
  color: #cc3;
  background-color: #cc3;
}

.yellow {
  color: #ff0;
  background-color: #ff0;
}

.sunglow {
  color: #fc3;
  background-color: #fc3;
}

.orange-peel {
  color: #f90;
  background-color: #f90;
}

.blaze-orange {
  color: #f60;
  background-color: #f60;
}

.tuscany {
  color: #c63;
  background-color: #c63;
}

.potters-clay {
  color: #963;
  background-color: #963;
}

.nutmeg-wood-finish {
  color: #630;
  background-color: #630;
}

.black {
  color: #000;
  background-color: #000;
}

.dusty-gray {
  color: #999;
  background-color: #999;
}

.silver {
  color: #ccc;
  background-color: #ccc;
}

.white {
  color: #fff;
  background-color: #fff;
}

.gun-powder {
  color: #424153;
  background-color: #424153;
}
