.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .car-girl {
    display: none;
  }

  .link {
    display: none;
  }

  .wallpaper:nth-child(n + 4) {
    display: none;
  }

  .main-row {
    margin: 15px;
  }
}

@media screen and (min-width: 720px) {
  .h1 {
    font-size: 49px;
    position: relative;
    top: 40px;
  }

  .random {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .car-girl {
    position: relative;
    width: 175px;
  }

  .h1 {
    font-size: 49px;
    top: 75px;
  }

  .link {
    font-size: 25px;
  }

  .main-row {
    margin: auto;
  }
}

@media screen and (min-width: 1164px) {
  .h1 {
    font-size: 50px;
    top: 62px;
  }

  .car-girl {
    width: 161px;
    position: relative;
  }
}

@media screen and (min-width: 1600px) {
  .h1 {
    font-size: 60px;
    top: 60px;
  }

  .car-girl {
    position: relative;
    width: 175px;
    top: 10px;
  }

  .random {
    font-size: 35px;
  }

  .link {
    font-size: 35px;
  }
}
