@media screen and (min-width: 360px) and (max-width: 488px) {
  body {
    width: 100%;
  }

  .wallpaper {
    max-width: 100%;
    margin-left: 5px;
  }

  .h1 {
    position: relative;
    top: 10px;
    font-size: 20px;
  }

  .main-row {
    padding-left: 8px;
  }

  .search-row {
    width: 100%;
    justify-content: center;
    background-color: #eae7e7;
  }

  .favorite {
    position: relative;
  }
}

@media screen and (min-width: 489px) {
  .search-row {
    background-color: #eae7e7;
    justify-content: center;
  }

  .h1 {
    font-size: 25px;
    top: 4px;
  }
}

@media screen and (min-width: 414px) {
  body {
    width: 100%;
  }

  .wallpaper {
    max-width: 100%;
    margin-left: 5px;
  }
}

@media screen and (max-width: 767px) {
  .car-girl {
    display: none;
  }

  .link {
    display: none;
  }

  .favorite-link {
    display: none;
  }

  .wallpaper:nth-child(n + 4) {
    display: none;
  }

  .main-row {
    margin: 15px;
  }

  .desktop-form {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .h1 {
    font-size: 41px;
    position: relative;
    top: 7px;
  }

  .random {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: 43px;
    top: 9px;
  }

  .link {
    font-size: 20px;
  }

  .main-row {
    margin: auto;
  }

  .search-column {
    position: relative;
    bottom: 30px;
  }

  .search {
    width: 150px;
    height: 25px;
  }

  .search-row {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1841px) {
  .car-girl {
    display: none;
  }
}

@media screen and (min-width: 918px) {
  .search {
    width: 205px;
  }
}

@media screen and (min-width: 1100px) {
  .search {
    width: 269px;
  }

  .search-row {
    background-color: #dbdbdb;
    width: 60%;
  }

  .h1 {
    right: 10px;
    font-size: 63px;
  }
}

@media screen and (min-width: 1600px) {
  .random {
    font-size: 35px;
  }

  .link {
    font-size: 20px;
  }

  .h1 {
    right: 0;
  }
}

@media screen and (min-width: 1842px) {
  .car-girl {
    position: absolute;
    width: 177px;
    right: 0;
  }
}

@media screen and (min-width: 1942px) {
  #row {
    width: 88%;
  }
}

@media screen and (min-width: 1964px) {
  #row {
    width: 87%;
  }
}

@media screen and (min-width: 2400px) {
  #row {
    width: 71%;
  }
}
