h1 {
  position: relative;
  top: 21px;
  font-size: 24px;
  font-family: 'aclonica', sans-serif;
}

body {
  background-color: #eae7e7;
}

.hidden {
  display: none;
}

.row {
  display: flex;
}

.header-color {
  background-color: #dbdbdb;
}

.column {
  display: flex;
}

.column-75 {
  width: 75%;
}

.column-fourths {
  width: 25%;
}

.align-center {
  align-items: center;
}

.random {
  font-size: 25px;
}

.car-girl {
  border-radius: 100%;
}

.image {
  justify-content: flex-end;
}

.link {
  margin-left: 5px;
}
